<style type="text/css" media="screen">

body{
    background: #efefef;
    font-family: arial;
}

h1{
   font-size: 40px;
   font-family:Georgia, "Times New Roman", Times, Serif;
}

h2{
    font-size: 16px;
}

img{
   width:100%;
   height:auto;
}

ol.a{
    list-style-type:circle;
}

p.normal{
  font-style:normal;
}

</style>
      
