<style>
<b> <!--link to main styleshet--> </b>
 <b>  <link rel="stylesheet" type="text/css" href=" https://github.com/jasleentara/Fashion-Collection/commit/8ed3c0d00b0e22a880024db2056072aa5e860402</b>

body{
    margin:60 px auto;
    width: 70%
}

h1{
   font-size: 40px;
   font-family:Georgia, "Times New Roman", Times, Serif;
}

img{
   width:100%;
   height:auto;
}

ol.a{
    list-style-type:circle;
}

p.normal{
  font-style:normal;
}

</style>
      
